h1 {
  font-size: 140px;
  text-align: center;
  z-index: 3;
  grid-column: 1/4;
  letter-spacing: 16px;
}

h2 {
  font-size: 60px;
  text-align: center;
  color: #9c0e11;
  grid-column: 2/6;
  z-index: 1;
  margin-top: -150px;
  padding-top: 60px;
}

img {
  size: 20%;
  grid-column: 1/2;
  z-index: 2;
  justify-content: center;
  margin-top: -400px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#color-change {
  background-color: #b9b8b9;
}
